// app global css in SCSS form

.dark-page {
  background-color: $dark-page;
  color: white;
}

.background-blue-dark {
  background: $blue-dark;
}

.background-blue-medium {
  background: $blue-medium;
  color: white;
}

.background-blue-gray {
  background: $blue-gray;
  color: white;
}

.page-header,
.page-footer {
  background: $header-gradient;
  color: white;
  border-style: solid;
  border-color: $blue-lightest;
}

.page-header {
  border-width: 0 0 2px 0;
}

.page-footer {
  border-width: 2px 0 0 0;
}

.min-width-0 {
  min-width: 0;
}

.min-height-0 {
  min-height: 0;
}

.popup-custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.popup-custom-scrollbar::-webkit-scrollbar-track {
  background: #333333;
}

.popup-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 3px;
}

.character-name-header {
  background: $title-gradient;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;

  border-width: 3px 0 3px 0;
  border-style: solid;
  border-image: 1 $title-border-gradient;
}

.character-name-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 0;
}

.character-name-and-text {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0;
}

.emblem-name-text {
  font-size: 1.2rem;
  font-weight: 200;
}

.very-dense-qselect > .q-field__inner > .q-field__control > .q-field__append {
  padding: 0;
}

.text-big {
  font-size: 1.4rem;
  margin: 0;
}

.text-medium {
  font-size: 1.2rem;
}

.text-medium .q-field__native {
  font-size: 1.2rem;
}

.stats-column {
  background: $blue-medium;
  color: white;
  margin: 0 20px 0 20px;
  min-width: 20em;

  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: $blue-lightest;
}

.stats-header {
  color: $gray-light;
  font-size: 1rem;
  margin: 8px 0 5px 0;
  padding: 0 10px 0 10px;
  line-height: 1.5rem;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: $gray-light;
}

.stats-label {
  color: $gray-light;
  font-size: 1.2rem;
  margin-left: 10px;
}

.stats-value {
  color: white;
  font-size: 1.2rem;
  text-align: right;
  margin-right: 10px;
}
