// app global css in SCSS form

.dark-page {
  background-color: $dark-page;
  color: white;
}

.background-blue-dark {
  background: $blue-dark;
}

.background-blue-medium {
  background: $blue-medium;
  color: white;
}

.background-blue-gray {
  background: $blue-gray;
  color: white;
}

.page-header,
.page-footer {
  background: $header-gradient;
  color: white;
  border-style: solid;
  border-color: $blue-lightest;
}

.page-header {
  border-width: 0 0 2px 0;
}

.page-footer {
  border-width: 2px 0 0 0;
}

.min-width-0 {
  min-width: 0;
}

.min-height-0 {
  min-height: 0;
}

.popup-custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.popup-custom-scrollbar::-webkit-scrollbar-track {
  background: #333333;
}

.popup-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 3px;
}

.very-dense-qselect > .q-field__inner > .q-field__control > .q-field__append {
  padding: 0;
}

.text-big {
  font-size: 1.4rem;
  margin: 0;
}

.text-medium {
  font-size: 1.2rem;
}

.text-medium .q-field__native {
  font-size: 1.2rem;
}
